  
<h1>Hier ist ein neues Turnier</h1>
<div id="container" class="container">
    <div class="row">
        <h2>
            Demo Turnier
        </h2>
        <div class="row">
            <div class="col-md-6">
                <button class="btn-default btn" style="width: 50%">
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <h3>
                            <span>{{nextMatch?.homeTeam?.name}}</span>
                            <span> : </span>
                            <span>{{nextMatch?.awayTeam?.name}}</span>
                            </h3>
                    </div>
                </button>
            </div>
        </div>
    </div>


<!--Spiele-->
<div class="row">
    <h2>
        Spiele
    </h2>
    <template ngFor let-match [ngForOf]="matches" let-index="index">
        <div class="row" [routerLink]="['./match/', match.id]">
            <span>{{match.homeTeam?.name}}</span>
            <span> : </span>
            <span>{{match.awayTeam?.name}}</span>
            <span>{{match.homeTeamScore | noValue}}</span>
            <span> : </span>
            <span>{{match.awayTeamScore | noValue}}</span>
        </div>
    </template>
</div>

<!--Tabelle-->

<tournament-table [teamsObs]="teamsObs"></tournament-table>

</div>