
   <div id="container" class="container">
     <div class="row"> 
         <div class="col-md-3">
    <button [routerLink]="['./tournament']" class="btn-default btn" style="height:200px; width:200px; display:flex; align-items:center; justify-align:center;">
          <h3 style="height:100%; width:100%">Demo Turnier</h3>    
    </button>   
    </div>

<div class="col-md-3">
    <button class="btn-default btn" style="height:200px; width:200px; display:flex; align-items:center; justify-align:center;" disabled="true">
          <h3>Neues Turnier</h3>    
    </button>
    </div>
    <!--<router-outlet></router-outlet>-->
    </div>

